<div class= "container" >

    <div class="titulo">
      <h1>Regístrate...</h1>
    </div>
    
    <form class= formulario_registro  action="" method="post" name="formulario_insertar_persona" [formGroup]="datosformulario">
      <div class="shadow p-1 bg-white rounded">
        <div class="fondo_formulario"><br>

          <div class="form-group">
           <input type="text" class="form-control"  formControlName="nombreUsuario" id="nombreUsuario" name="nombreUsuario" placeholder="Nombre Usuario" required >
          <div class="mensaje">{{retornoNombre}}</div>
          </div>
  
          <div class="form-group">
            <input type="email" class="form-control" formControlName="correo" id="correo" name="correo" placeholder="Correo Electrónico" required>
            <div class="mensaje">{{retornoCorreo}}</div> 
          </div>
  
          <div class="form-group">
             <input type="password" class="form-control" formControlName="contrasena1"id="contrasena1" name="contrasena1" placeholder="Contraseña" required>
             <div class="mensaje">{{retornoContrasena1}}</div> 
            </div>
  
          <div class="form-group">
            <input type="password" class="form-control" formControlName="contrasena2" id="contrasena2" name="contrasena2" placeholder="Confirme contraseña" required><br>
            <div class="mensaje">{{retornoContrasena2}}</div> 
          </div>

          <div class="comentario">
            <a href="iniciar_sesion" target="_parent">¿Ya tienes cuenta? Inicia sesión aquí</a>
          </div>
 
          <div >
            <button (click)="recoger_datos()" class="register-button">Crear usuario</button>
          </div>
      
          <br><br>
               
          

       </div>
      </div>
      
        
      </form>
      
    
      
    

</div>


