<app-barrahorizontalnavbar></app-barrahorizontalnavbar>
<div class= "container">
    <div class="row">

        <div class="col-sm-3">
            <div class="columna1">
              <iframe src="menuframe" frameborder="0" width="100%" height="500px"></iframe>

            </div>

        </div>
        <div class ="col-sm-6">
            <div class="columna2">
                <h2>QUIENES SOMOS</h2><br><br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nam nihil unde doloribus, expedita possimus, sint itaque quis vero, repellat deserunt? Unde debitis porro atque tenetur delectus ipsum quis alias.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nam nihil unde doloribus, expedita possimus, sint itaque quis vero, repellat deserunt? Unde debitis porro atque tenetur delectus ipsum quis alias.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nam nihil unde doloribus, expedita possimus, sint itaque quis vero, repellat deserunt? Unde debitis porro atque tenetur delectus ipsum quis alias.</p>
                <br>

            </div>

        </div>
        <div class= "col-sm-3 columna1" >
            <h3><a href="matricula">OUR VIDEOS</a></h3><hr>
            <div>
                <a href=""><img class="" src="../../../assets/imagenes/Imagen5.jpg" alt="Imagen video niños animados" width="100%"></a>

            </div><hr>
            <div>
                <a href=""><img class="" src="../../../assets/imagenes/Imagen6.jpg" alt="Imagen de video Juegos interáctivos" width="100%"></a>

            </div><hr>


        </div>
    </div>
</div>
<app-barrahorizontalfooter></app-barrahorizontalfooter>
