
ul{
    margin:0;
    padding: 0;
    background: rgb(161,216,229);
    color: white;
    list-style-type: none;
    overflow: hidden;
    
}
li{
    float:left;
  
    
}
li a{
    color:white;
    text-align: center;
    display:block;
    padding: 4px 16px;
    font-size: 20px;
    text-decoration: none;
    
    
}
li a:hover{
    background: coral;
}

.imagen-encabezado{
    width:100%;
    margin:0;
    padding: 0;
}
.prueba{
    float:right;
    margin-right: 30px;
}
.prueba2{
    margin-left: 550px;
}

