
<nav>

    <ul >
        <div>
            <img class="imagen-encabezado" src="../../../assets/imagenes/Imagen3.png" alt="">
        </div>
        <div class= "prueba2">
            <li> <a href= " "><b>Home</b></a></li>
            <li><a href ="recursos"><b>Recursos</b></a></li>
            <li><a href="usuario_comprobado"><b>Nosotros</b></a></li>
            <li><a href="comentarios"><b>Comentarios</b></a></li>
        </div>

        <div class="prueba">
            <li><a  href ="iniciar_sesion"><b>Iniciar Sesión</b></a></li>
        </div>


    </ul>

</nav>





