
<footer class="pie">
    <div class= "container">
        <div class="row">
            <div class="col-sm-3"><br><br>
                <div>
                    <a href=" "><img class="" src="../../../assets/imagenes/Imagen8.png" alt="Imagen video niños animados" width="70%"></a>
                </div>


            </div>

            <div class= "col-sm-3   columna2" > 
                <h3>QUIENES SOMOS</h3>
                <li>englishenjoy@english.com</li>
                <li> Contacto: 312 4567890</li>
                <li>Calle 1 # 2-3 Barrio Capri</li>
                <li>Cali - Valle del cauca - Colombia</li>

            </div>
            <div class="col-sm-3 columna3" >
                <h3>RECURSOS</h3>
                <li> <a href= " "><b>Learning with videos</b></a></li>
                <li><a href =""><b>Tips and Grammar</b></a></li>
                <li><a href=""><b>Our videos</b></a></li>
                
        
            </div>
            <div class="col-sm-3">
                <h3>NUESTRAS REDES</h3>
                <li>FACEBOOK</li>
                <li> Instagram</li>
                <li>Youtube</li>
                <li>Pinterest</li> 
            </div>

        </div>
        
    </div>
    
</footer>
